<mat-card class="home-card">
  <h1>Menu Principal</h1>
  <div class="actions">
    <button mat-raised-button color="warn" routerLink="/fornecedor-produtos">
      <mat-icon>search</mat-icon>
      Consultar Produtos Fornecedor
    </button>
    <button mat-raised-button color="primary" routerLink="/products">
      <mat-icon>inventory_2</mat-icon>
      Gerenciar Produtos
    </button>
    <button mat-raised-button color="primary" routerLink="/clientes">Listar Clientes</button>
    <button mat-raised-button color="accent" routerLink="/clientes/new">Cadastrar Cliente</button>
    <button mat-raised-button color="primary" routerLink="/empresa">Listar Empresas</button>
    <button mat-raised-button color="accent" routerLink="/empresa/new">Cadastrar Empresa</button>
    <button mat-raised-button color="primary" routerLink="/funcionario">Listar Funcionários</button>
    <button mat-raised-button color="accent" routerLink="/funcionario/new">Cadastrar Funcionário</button>
    <button mat-raised-button color="primary" routerLink="/vendas">Listar Vendas</button>
    <button mat-raised-button color="accent" routerLink="/vendas/new">Cadastrar Venda</button>
    <button mat-raised-button color="primary" routerLink="/fornecedor">Listar Fornecedor</button>
    <button mat-raised-button color="accent" routerLink="/fornecedor/new">Cadastrar Fornecedor</button>
  </div>
</mat-card>

<div class="dashboard-container" *ngIf="!isLoading">
  <mat-card class="dashboard-card" *ngFor="let card of dashboardCards">
    <mat-card-header [routerLink]="card.link">
      <div mat-card-avatar><mat-icon>{{card.icon}}</mat-icon></div>
      <mat-card-title>{{card.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="count-section" [routerLink]="card.link">
        <p class="count">{{card.count}}</p>
        <p>Registrados</p>
      </div>
      
      <mat-divider></mat-divider>
      <div class="recent-items-container">
        <h4 class="recent-items-title">Últimos cadastros:</h4>
        <ng-container *ngIf="card.recentItems.length > 0; else noRecentItems">
          <ul class="recent-items-list">
            <li *ngFor="let item of card.recentItems">
              {{ item.nome || item.name || (item.idVenda ? 'Venda ' + item.idVenda : 'Item sem nome') }}
            </li>
          </ul>
        </ng-container>
        <ng-template #noRecentItems>
          <p class="no-items-message">Nenhum cadastro recente.</p>
        </ng-template>
      </div>
      </mat-card-content>
  </mat-card>
</div>

<div *ngIf="isLoading" class="loading-overlay">
  <p>Carregando dados da dashboard...</p>
</div>