<mat-card class="home-card">
  <h1>Menu Principal</h1>
  <div class="actions">
    <button mat-raised-button color="primary" routerLink="/clientes">
      Listar Clientes
    </button>
    <button mat-raised-button color="accent" routerLink="/clientes/new">
      Cadastrar Cliente
    </button>

    <button mat-raised-button color="primary" routerLink="/empresas">
      Listar Empresas
    </button>
    <button mat-raised-button color="accent" routerLink="/empresas/new">
      Cadastrar Empresa
    </button>

    <button mat-raised-button color="primary" routerLink="/funcionario">
      Listar Funcionários
    </button>
    <button mat-raised-button color="accent" routerLink="/funcionario/new">
      Cadastrar Funcionário
    </button>

    <button mat-raised-button color="primary" routerLink="/vendas">
      Listar Vendas
    </button>
    <button mat-raised-button color="accent" routerLink="/vendas/new">
      Cadastrar Venda
    </button>

    <button mat-raised-button color="primary" routerLink="/fornecedor">
      Listar Fornecedor
    </button>
    <button mat-raised-button color="accent" routerLink="/fornecedor/new">
      Cadastrar Fornecedor
    </button>
  </div>
</mat-card>
