.full-card {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1.5rem;
  }
  .full-width {
    width: 100%;
  }

  /* Ajuste para o ícone do calendário */
mat-datepicker-toggle {
  color: rgba(0, 0, 0, 0.54);
}