.list-card {
    margin: 2rem;
    padding: 1rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  .full-table {
    width: 100%;
  }


.mat-paginator {
  background: transparent;
  margin-top: 16px;
}

.full-table {
  width: 100%;
}

.list-card {
  padding: 20px;
  margin: 20px;
}

.filter-container {
  margin-bottom: 1.5rem;
}

.filter-field {
  width: 100%; /* Faz o campo de filtro ocupar toda a largura */
}

.full-width {
  width: 100%;
}

.no-results {
  padding: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}