.full-card {
  margin: 2rem;
  padding: 1rem;
}

.filter-container {
  margin: 1rem 0;
  width: 300px;
}

.full-table {
  width: 100%;
  margin-bottom: 1rem;
}

mat-paginator {
  background: transparent;
}