<mat-card class="full-card">
    <h2>{{ isEdit ? 'Editar Fornecedor' : 'Nova Fornecedor' }}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlNome_Fornecedor="nome_fornecedor" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>CPF/CNPJ</mat-label>
        <input matInput formControlCpf_Cnpj="cpf_cnpj" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput formControlEmail="email" type="email" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Telefone</mat-label>
        <input matInput formControlTelefone="telefone" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Endereço</mat-label>
        <input matInput formControlEndereco="endereco" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="full-width">
        {{ isEdit ? 'Salvar' : 'Criar' }}
      </button>
    </form>
  </mat-card>