/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* src/styles.css */
body {
    margin-top: 64px; /* Altura do header */
  }
  
  .content {
    padding: 2rem;
  }

  /* Validações */
.mat-form-field-invalid .mat-form-field-label {
  color: #f44336 !important;
}

.mat-form-field-invalid .mat-input-element {
  color: #f44336 !important;
}

mat-error {
  font-size: 12px;
  margin-top: 5px;
}

.full-width {
  margin-bottom: 1rem;
}