<mat-card class="full-card">
    <h2>{{ isEdit ? 'Editar Empresa' : 'Nova Empresa' }}</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="nome_empresa" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>CNPJ</mat-label>
        <input matInput formControlName="cnpj_empresa" (input)="formatCnpjOnInput($event)" placeholder="XX.XXX.XXX/XXXX-XX">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Razão Social</mat-label>
        <input matInput formControlName="razao_social" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone" 
               (input)="formatPhone($event)"
               placeholder="(XX) XXXX-XXXX" />
        <mat-error *ngIf="form.get('telefone')?.hasError('required')">
          Telefone é obrigatório
        </mat-error>
        <mat-error *ngIf="form.get('telefone')?.hasError('pattern')">
          Formato: (XX) XXXXX-XXXX
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="endereco" type="text" />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="full-width">
        {{ isEdit ? 'Salvar' : 'Criar' }}
      </button>
    </form>
  </mat-card>